* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 11px;
}

window#waybar {
  background: rgba(30, 30, 46, 0.96);
  color: #cdd6f4;
}

#workspaces {
  background: #181825;
  margin: 5px 4px;
  padding: 2px 4px;
  border-radius: 3px;
}

#workspaces button {
  padding: 0 8px;
  margin: 2px;
  color: #a6adc8;
  background: transparent;
  border-radius: 3px;
}

#workspaces button.focused,
#workspaces button.active {
  background: #313244;
  color: #89b4fa;
  font-weight: bold;
}

#workspaces button:hover {
  background: #45475a;
  color: #cdd6f4;
}

#clock,
#pulseaudio,
#network,
#cpu,
#memory,
#language {
  padding: 0 8px;
  background: transparent;
}

#mode {
  background-color: #fab387;
  color: #11111b;
  padding: 0 9px;
  margin: 8px 6px;
  border-radius: 6px;
  font-weight: bold;
}

#clock {
  font-weight: bold;
  color: #cdd6f4;
}

#pulseaudio {
  color: #89b4fa;
}

#network {
  color: #94e2d5;
}

#cpu {
  color: #fab387;
}

#memory {
  color: #f9e2af;
}

#language {
  color: #cdd6f4;
  font-weight: bold;
}

#language.no {
  color: #f38ba8;
}
